*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header{
    width: 100%;
    height: 5rem;
    background: #ff8a00;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
a{
    text-decoration: none;
    color: #666666;
}
.logo img{
    height: 3.4rem;
 }
 .icon img{
    width: 2.3rem;
    height: 2.9rem;
    margin-left:1rem;
}
nav{
    height: 3.6rem;
    line-height:3.6rem;
    background: #ffffff;
    border-bottom: 1px solid #c5c5c5;
    padding-left: 1.5rem;
}
nav span{
    font-size: 1.5rem;
}
nav p span:nth-of-type(1){
    font-size: 1.8rem;
    font-weight: 600;
}
nav span a{
    text-decoration: none;
}
section{
    padding: 0 2rem;
    font-size: 1.4rem;
}
section ul li{
    list-style: none;
    padding: 2rem 0;
    border-bottom: 1px solid #ff8a00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.left{
    width: 30%;
}
.left img{
    width: 9rem;
    height:9rem;
}
.right{
    width: 70%;
    padding-left: 10%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.right h2{
    font-size: 1.4rem;
}
.right p{
    color: #000;
    line-height: 2.1rem;
    padding: .1rem 0;
}
.right p:nth-of-type(1){
    margin-top: .5rem;
}
.right span{
    color: #ff8a00;
    margin-left: 2rem;
}
