*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
header{
    width: 100%;
    height: 5rem;
    background: #ff8a00;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
a{
    text-decoration: none;
    color: #666666;
}
.logo img{
    height: 3.5rem;
 }
 .icon img{
    width: 2.5rem;
    height: 3rem;
    margin-left:1rem;
}
.search{
    width: 100%;
    position: relative;
}
.search input{
    width: 90%;
    height: 4.1rem;
    margin: 1rem auto;
    border-radius: 4px;
    border: 1px solid #cccccc;
    margin-left: 2rem;
    font-size: 1.2rem;
}
.search span{
    position: absolute;
    top: 2rem;
    right: 6rem;
}
.search a{
    position: absolute;
    top: 2rem;
    right: 3rem;
}
.search a img{
   width: 2rem;
   height: 2rem;
}

.hide{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
.list{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    z-index: 4;
    position: relative;
    background: #FFF;
}
.list li{
    list-style: none;
    position: relative;
}
.list a{
    text-decoration: none;
    color: #666666
}
.list li span{
    border-top: 5px solid #ccc;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    top: 1.8rem;
    right: -1.2rem;
}
.content{
    padding: 0 2rem;
    font-size: 1.3rem;
}
.content li{
    list-style: none;
    padding: 2rem 0;
    border-bottom: 1px solid #ff8a00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 24%;
 }
.left img{
    width: 9rem;
    height: 9rem;
}
.right{
    width: 65%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.right h2{
    font-size: 1.5rem;
}
.right p{
    color: #b0b0b0;
    line-height: 2.1rem;
}
.right p span{
    color: #ff8a00;
}
.right p:first-of-type{
    color: #000;
    margin-top: 1rem;
}
.footer{
    
    background: #2f3130;
    color: #939494;
    padding: 0 1.5rem;
}
.footer h2{
    font-size: 1.4rem;
    height: 6rem;
    line-height: 6rem;
    border-bottom: 1px solid #3e403f;
}
.fotter-content ul{
    display: flex;
    margin-top: 1rem;
}
.fotter-content ul li{
    list-style: none;
    flex: 1;
    text-align: center;
    display: flex;
    justify-items: center;
}
.fotter-content li img{
    width: 2rem;
    height: 2.5rem;
    margin-right: 2rem;
    margin-left: 1rem;
}
.fotter-content p{
    font-size: 1.6rem;
}
.footer-text{
   margin-top:1.6rem;
   padding-bottom: 1.6rem;
}
.footer-text p{
    line-height: 2rem;
    text-align: center;
    font-size: 1.4rem;
    
}